@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap');

body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    font-weight: 800;
    margin-left: 5px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li a {
    padding: 10px 5px;
    transition: 0.3 ease-in-out;
    margin-left: 15px;
}

.menu li a:hover {
    background-color: #5bc241;
    color: #ffffff;
}

.menu li a.btn {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #5bc241;
    color: #ffffff;
    margin-left: 20px;
}

@media (max-width: 650px) {
    .header {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        margin-top: 50px;
    }

    .logo h1 {
        font-size: 40px;
    }

    .menu li {
        padding: 33px 0;
    }

    .menu li a {
        font-size: 40px;
        padding: 17px 40px;
    }

    .menu li a.btn {
        font-size: 18px;
        padding: 15px 23px;
    }

    .menu li:last-child {
        margin-top: 20px;
    }
}