.left-side {
    margin: 20px;
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.quadro {
    max-width: 100%;
    height: 200px;
    background-color: grey;
}

.container {
    display: flex;
}

.right-side {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.propaganda {
    max-width: 100%;
    background-color: grey;
}

.video {
    background-color: grey;
    width: 50px;
    height: 50px;
}

