:root{
    --cor-padrao: red;
    --tamanho-de-fonte-padrao: 20px;
}

h2 {
    color: var(--cor-padrao, red);
    font-size: var(--tamanho-de-fonte-padrao, 25px);
}

h3 {
    color: var(--cor-padrao, red);
    font-size: var(--tamanho-de-fonte-padrao, 25px);
}

span {
    color: var(--cor-padrao, red);
    font-size: var(--tamanho-de-fonte-padrao, 25px);
}

p {
    color: var(--cor-padrao, red);
    font-size: var(--tamanho-de-fonte-padrao, 25px);
}